@import './utilities'

.row
    margin-right: 0 !important
    margin-left: 0 !important

.card:hover
    border: 1px solid green 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important

.card-horizontal:hover
    border: ipx solid !important
    box-shadow: none !important

img
    width: 100%

.text-gold
    color: #FFB305
.text-purple
    color: #403886
.text-green
    color: #22B56E

a:hover
    text-decoration: none !important
    color: black !important
a
    color: black !important
.navbar
    height: 80px
    background: #403886
    margin-bottom: 50px 
.navbar-brand
    img
        height: 60px
        width: unset !important
.container
    margin-bottom: 50px

.footer
    height: 250px
    padding: 30px
    background: #403886
    position: relative
    bottom: 0
