@import './utilities'

.row
    margin-right: 0 !important
    margin-left: 0 !important

.card:hover
    border: 1px solid green !important
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important

.text-gold
    color: #FFB305
.text-purple
    color: #403886
.text-green
    color: #22B56E